body {
	background: #008999;
	display: flex;
	flex-flow: row wrap;
}

.tile {
	height: 300px;
	min-width: 220px;
	flex-grow: 1;
}

.tile > div {
	width: 100%;
	height: 100%;
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position: center;
}
