body {
	background: #008999;
	display: flex;
	flex-flow: row wrap;
}

.tile {
	height: 300px;
	min-width: 220px;
	flex-grow: 1;
	transform-style: preserve-3d;
	transition: all 0.25s linear;
}

.tile > div {
	width: 100%;
	height: 100%;
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	background-image: url(face.jpg);
}

.tile .back,
.tile.flipped {
	transform: rotateY(180deg);
}
